@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    background-color: #edf4f4;
    background-image: url("C:\Users\SST\OneDrive\Desktop\chemioptics-healthcare\client\src\images\form_background.jpg");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    color: #5fc7c6;
    text-shadow:2px 2px 4px  #000;
    
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0px 35px;
    margin-bottom: 14px;
}

.input-group label {
    margin-bottom: 14px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="tel"],
.input-group textarea,
.input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.input-group input[type="tel"]:focus,
.input-group textarea:focus,
.input-group select:focus {
    border-color: #4CAF50;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group div {
    display: flex;
    align-items: self-start
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

.input-group input[type="radio"] {
    margin-right: 10px;
}

.Radio {
    padding-top: 10px;
    flex: 1 auto !important;
}

.input-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-group input[type="submit"]:hover {
    background-color: #45a049;
}